@import "../variables"

.chat
  &__wrapper
    width: 100%
    height: 100%
    display: flex
    align-items: center
    justify-content: center

  &__window
    width: 80%
    height: 90%
    box-shadow: 0 5px 15px rgba(61, 61, 61, 0.32)
    background-color: white
    display: flex
    flex-direction: row

    > *
      width: 100%
      height: 100%

    .sidebar
      flex: 1
      display: flex
      flex-direction: column
      background-color: white
      min-width: 10rem
      max-width: 20rem

      .toolbar
        height: 3rem
        padding: 0.5em
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        background-color: #ededed
        border-bottom: 1px solid #dcdcdc

        .avatar
          height: 80%

      .rows-container
        width: 100%
        height: 100%
        overflow-y: auto

    .chat
      box-sizing: border-box
      border-left: 1px solid #dcdcdc
      border-bottom: 0.5em solid $logo-bg
      flex: 2
      background-color: white

@media only screen and (max-width: 80rem)
  .chat__window
    width: 100%
    height: 100%
